
<h4>Listing Amenities</h4>
<p>
<%if @amenities.empty? %>
<p> No amenities found</p>
<%else%>
	<ul> <% @amenities.each do |amenity| %>
		<li><%= amenity.name%></li>
		<%end%>
	</ul>
<%end%>
</p>
<h4>Add Amenity</h4>
<%= form_for @amenity do |f| %>
	<label>Name :</label><br/>
	<%= f.text_field :name%><br/>
	<label>Description :</label><br/>
	<%= f.text_area :description%><br/>
	<%= f.submit %><br/>
<% end %>
