<strong>Listing the all Unconfirmed bookings </strong>
<% if @bookings.empty? %>
<h4> No bookings found </h4>
<%else%>
<table class="table table-hover">
	<thead>
		<tr>
			<th>City Name</th>
			<th>Room name</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Room price</th>
			<th>Total</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
<% @bookings.each do |booking| %>
<% if booking.room.user_id == current_user.id%><tr>
<td><%= booking.room.city.name %></td>
<td><%= booking.room.name %></td>
<td><%= booking.start_date.to_formatted_s(:rfc822) %></td>
<td><%= booking.end_date.to_formatted_s(:rfc822) %></td>
<td><%= booking.room.price %></td>
<td><%= booking.price %></td>
			<%= form_for booking do |f| %>
			<%= f.hidden_field :is_confirmed, value: true%>
			<td><%= f.submit "Confirm", class: "btn btn-info"%></td>
			<%end%>
			<td><%= link_to "Cancel", booking_path(booking.id), method: :delete, data: {confirm: "Are you Sure?"},class: "btn btn-info" %></td>
	<%end%>
<%end %>
<%end%>
		</tr>
	</tbody>
</table>
