<h2></h2>
<p><h4><%=@room.name %></h4></p>
<p><label>Price: </label>
	<%=@room.price %>
</p>
<p><label>Description: </label>
	<%=@room.description %>
</p>
<p><label>City Name: </label>
	<%=@room.city.name %>
</p>
<p><label>User Name: </label>
	<%=@room.user.username %>
</p>
<p><label>Amenities: </label>
		<% @room.amenities.each do |amenity|%>
	<li><%= amenity.name%></li>
	<%end%>
</p></br>
<%= link_to "Book Room", new_booking_path %></br>
<p>
<%= image_tag(@room.images.url) %></p>