
<table class="table table-hover">
<thead>
<tr>
	<th> Image </th>
	<th> Name </th>
	<th> Price </th>
	<th> Description </th>
	<th> City Name </th>
	<th> Belongs to user </th>
	<th> Amenities</th>
	<th>Action</th>
	
</tr>
</thead>
<tbody>
	<tr>
		<td><%= image_tag(@room.images.url)%></td>
		<td><%=@room.name %></td>
		<td><%=@room.price %></td>
		<td><%=@room.description %></td>
		<td><%=@room.city.name %></td>
		<td><%=@room.user.username %></td>
		<td><% @room.amenities.each do |amenity|%>
		<%= amenity.name%></br>
		<%end%></td>
		<% if can? :update, :destroy, Room.new %>
		<td><%= link_to "Update", edit_room_path(@room) %>
		<%= link_to "Delete",@room, method: :delete, data: {confirm: "Are you Sure?"} %></td>
		<%end%>
		
		
		</tr>
	</tbody>
</table>
<h2>Booking Room </h2>
<%= form_for @booking do |f| %>
<p>
	<label>Start Date</label>
	<%= f.date_field :start_date%>
		<label>End Date</label>
	<%= f.date_field :end_date%>
	<%= f.hidden_field :price, value: @room.price %>
	<%= f.hidden_field :room_id, value: @room.id %>
	<%= f.submit "Book Now"%>
	<%end%>
</p>
<p><%if current_user.id == @room.user_id %>
	<%= link_to "Add Special price",new_room_special_price_path(@room.id)%></br>
	<table class="table table-hover">
		<thead> 
			<tr>
				<th> Start date</th>
				<th> End date</th>
				<th>price </th>
				<th>room Name</th>		
			</tr> 
		</thead>  
		<tbody>
			<tr>
	<% @special_prices.each do |special_price| %>
				<td><%= special_price.start_date.strftime('%d,%b,%Y') %></td>
				<td><%= special_price.end_date.strftime('%d,%b,%Y') %></td>
				<td><%= special_price.price %></td>
				<td><%= special_price.room.name %></td>
		
			</tr>
		</tbody>
		<%end%>
</table>
<%end%></p>

<h2>Reviews</h2>
<% if @reviews.empty?%>
<h4>No reviews found</h4>
<% else%>
	<% @reviews.each do |review| %>
	<%= review.review %>
	<strong>Average Rating</strong> 
	<% avg_rating = (review.food_rating + review.cleanliness_rating+ review.safety_rating+review.facility_rating+review.locality_rating).to_f/5 %>
	<%= avg_rating %></br>
	<%end%>
<%end%>
<h2>Add Review</h2>
<%= form_for @review do |f| %>
<label>Review</label><%= f.text_area :review %>
<label>Food Rating</label>
<%= f.select :food_rating, (1..5).to_a%>
<label>cleanliness Rating</label>
<%= f.select :cleanliness_rating, (1..5).to_a%>
<label>Safety Rating</label>
<%= f.select :safety_rating, (1..5).to_a%>
<label>facility Rating</label>
<%= f.select :facility_rating, (1..5).to_a%>
<label>Locality Rating</label>
<%= f.select :locality_rating, (1..5).to_a%>
<%= f.hidden_field :user_id, value: current_user.id%>
<%= f.hidden_field :room_id, value: @room.id %>
<%= f.submit "Add"%>
<%end%>
<script>

  // window.onload = function(){}
  $(document).ready(function(){

    var disabledDates = <%= raw Booking.all.pluck(:start_date, :end_date).map{|dates| (dates[0]..dates[1]).to_a}.flatten.uniq.map{|date| date.strftime("%d-%m-%Y")} %> 

    function DisableSpecificDates(date) {
      var string = jQuery.datepicker.formatDate('dd-mm-yy', date);
    return [disabledDates.indexOf(string) == -1];
  }

    $('#booking_start_date').datepicker({
      beforeShowDay: DisableSpecificDates,
      dateFormat: 'yy-mm-dd', 
      numberOfMonths: 2, 
      minDate: 0
    });

    function setEndDate(startingDate){
      $('#booking_end_date').datepicker({
        beforeShowDay: DisableSpecificDates,
        minDate: startingDate,
        dateFormat: 'yy-mm-dd', 
        numberOfMonths: 2
      });
    }

    $('#booking_start_date').change(function(){
      var startingDate = new Date($('#booking_start_date').val());
      // remove the setting for the booking end date datepicker 
      $('#booking_end_date').datepicker("destroy");
      setEndDate(startingDate);
      setTimeout(function(){
        $('#booking_end_date').focus()
      }, 0);
    });

  });
</script>

