<div class="row">
	<div class="col-md-8">
		<div class="page-header">
			<h4>Listing Cities</h4>
		</div>
	<%= form_tag cities_path, method: :get do%>
		<label>Search</label>
		<%= text_field_tag :search %>
		<%= submit_tag "Search"%>
		<%end%>
		<%if @cities.empty? %>
			<p> No city found</p>
			<%else%>
			<div id="cityList">
			<table class="table table-bordered">
				<thead>

				</thead>
				<tbody>
					<% @cities.each do |city| %>
					<tr >
						<td><%= link_to city.name, city%> (<%= city.rooms.count%>)</td>
					</tr>
					<%end%>
				</tbody>
				<%end%>
			</table>
				
		</div>
	</div>
	<div class="col-md-4">
		<h2>Create City</h2>
		<div id="errorMsg"></div>
		<% if can? :create, City.new %>
		<%= render 'new'%>
		<%else%>
           <p>You need to sign in before comment</p>
         <%end%>


	</div>
</div>


