<!DOCTYPE html>
<html>
<head>
  <title>RentARoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if user_signed_in?%>
<%=current_user.username%>|
<%= link_to "Account Settings", edit_user_registration_path%>|
<%= link_to "Logout", destroy_user_session_path, method: :delete %>|
<%= link_to "Cities", cities_path%>|
<%= link_to "Rooms", rooms_path%>|
	<% if can? :create, Room.new%>
	<%= link_to "My Rooms", rooms_my_rooms_path%>
	<%end%>
|<%=link_to "Dash Board", bookings_path %>
|<%= link_to "List of all bookings", bookings_list_path %>
	<% if can? :create, Amenity.new,%>
		|<%= link_to "Amenities", amenities_path%>
	<%end%>
	<%if current_user.role?"admin" %>
	|<%= link_to "Non authorized rooms", rooms_authorization_rooms_path %>
	<%end%>


	<% if (can? :update, Booking.new) && (current_user.role?"host") %>
		|<%= link_to "Unconfirmed Bookings", bookings_unconfirmed_path %>
	<%end%>

<%else%>

<%= link_to "Login", new_user_session_path%> | <%= link_to "Register", new_user_registration_path %>
<%end%>
  <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
